h1 {
    text-align: center;
    padding: 30px;
    background-color: pink;
}

.homepage {
    text-align: center;
    margin: 50px;
}

.surveystyle {
    text-align: center;
    background-color: lightgray;
    padding: 30px
}

.row {
    padding: 25px;
}